<div class="main-page-background" style="height: 100vh; width: 100%; display: table;">
    <div class="text-center">
        <h1 class="text-primary font-weight-bold">Welcome to BOTC</h1>
        <hr class="divider">
    </div>
    <div class="text-center">
        <p class="text-light mb-5">@Abel insert meaningful tagline here</p>
    </div>
    <div>
        <div class="center-div-d">
            <div class="d-flex text-center">
                <div class="rounded-corner-button shadow-sm" (click)="buttonClick()">
                    <img src="https://firebasestorage.googleapis.com/v0/b/permit-hackathon.appspot.com/o/Website%20Assets%2FAvatar.png?alt=media&token=8520dda9-af4c-4f9d-b861-edfe6e8f2e3e"
                    style="max-width: 50px;">
                    <h3 class="text-light font-weight-bold" style="cursor: pointer; width: 80px;">Client</h3>
                </div>
                <div class="rounded-corner-button shadow-sm" (click)="buttonClick()">
                    <img src="https://firebasestorage.googleapis.com/v0/b/permit-hackathon.appspot.com/o/Website%20Assets%2FStaff.png?alt=media&token=3dbfc98f-b225-4512-9c36-04557b30bc91"
                    style="max-width: 50px;">
                    <h3 class="text-light font-weight-bold" style="cursor: pointer; width: 80px;">Staff</h3>
                </div>                
            </div>
        </div>

    </div>                
</div>